<?xml version="1.0" encoding="UTF-8"?>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="$resources/css/CETEIcean.css" media="screen" title="no title" charset="utf-8"/>
    <script src="$resources/js/CETEI.js" charset="utf-8"/>
    <title>TCW 20: How to Edit the TEI Guidelines</title>
  </head>
  <body>
    <div id="content"/>
    <script type="text/javascript">
        c.els = els;
        c.els.push("egXML");
        if (document.registerElement) {
            c.registerAll(c.els);
        } else {
            c.fallback(c.els);
        }
    </script>
  </body>
</html>